<div class="row">
  <div class="col-lg-6 col-md-6 mx-auto">
    <h3 class="fw-light">Contribute Content</h3>

    <div class="actions mt-3">
      <%= link_to "Add new person", new_person_path, class: 'btn btn-primary link-btn' %>
      <%= link_to "Add new location", new_location_path, class: 'btn btn-primary link-btn' %>
      <%= link_to "Add new room", new_room_path, class: 'btn btn-primary link-btn' %>
      <%= link_to "Add new building", new_building_path, class: 'btn btn-primary link-btn' %>
    </div>

    <h2 class="fw-light">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= form.fields_for :person, resource.person do |person_fields| %>
        <% if resource.person.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

            <ul>
              <% resource.person.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field mb-3 edit-profile-picture">
          <%= person_fields.label :profile_picture, class: 'form-label' %>
          <div class='profile-picture-wrapper'>
            <div class='profile-picture-container'>
              <% if resource.person.profile_picture.attached? %>
                <img src="<%= (url_for(resource.person.profile_picture)) %>" alt="<%= resource.person.profile_picture.filename %>"/>
              <% else %>
                <img src="<%= (url_for('/assets/default-profile-picture.png')) %>" alt="default-profile-picture">
              <% end %>
            </div>
            <button class='edit-btn' onclick="event.preventDefault(); $('input[type=file]').click()">
              <i class="fa fa-pen" aria-hidden="true"></i></button>
          </div>
          <%= person_fields.file_field :profile_picture, class: 'form-control', accept: 'image/png,image/jpeg' %>
        </div>

        <div class="field mb-3">
          <%= person_fields.label :first_name, class: 'form-label' %>
          <%= person_fields.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="field mb-3">
          <%= person_fields.label :last_name, class: 'form-label' %>
          <%= person_fields.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="field mb-3">
          <%= person_fields.label :phone_number, class: 'form-label' %>
          <%= person_fields.text_field :phone_number, class: 'form-control' %>
        </div>

        <div class="field mb-3">
          <%= person_fields.label :email, class: 'form-label' %>
          <%= person_fields.text_field :email, class: 'form-control' %>
        </div>

        <div class="field mb-3">
          <%= person_fields.label :rooms, class: 'form-label' %><br/>
          <%= person_fields.select 'room_ids',
                                   options_from_collection_for_select(Room.all, :id, :name, resource.person.room_ids),
                                   {},
                                   multiple: true %>
        </div>

        <div class="field mb-3 opening-times-container">
          <%= person_fields.label :openingtimes, class: 'form-label' %>
          <%= person_fields.fields_for :openingtimes do |o| %>
            <div class="field" id="opening-time-field-<%= o.object.id %>">
              <%= o.select 'day',
                           options_for_select({ 'Monday' => 0,
                                                'Tuesday' => 1,
                                                'Wednesday' => 2,
                                                'Thursday' => 3,
                                                'Friday' => 4,
                                                'Saturday' => 5,
                                                'Sunday' => 6
                                              }, o.object.day),
                           {},
                           multiple: false %>
              <%= o.time_field :opens, value: o.object.opens %>
              <span>-</span>
              <%= o.time_field :closes, value: o.object.closes %>
              <%= link_to(openingtime_path(o.object.id), :method => :delete, :class => 'btn btn-mini',
                          :remote => true, :onclick =>
                            "{$('#opening-time-field-#{o.object.id}').next().remove();
                             $('#opening-time-field-#{o.object.id}')[0].remove()}") do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          <% end %>
          <button class="btn" onclick="event.preventDefault(); addNewOpeningTime(this);"><i class="fas fa-plus"></i> Add
            opening time
          </button>
        </div>



        <script defer>
            $('input[name="user[profile_picture]"]').change(function () {
                const file = $(this).prop('files')[0] || null;
                if (!file) {
                    return;
                }
                const url = URL.createObjectURL(file);
                $('.profile-picture-container img').prop('src', url);
                $('.profile-picture-container img').prop('alt', file.name);
            })

            const addNewOpeningTime = (target) => {
                $(`<div class="field" id="opening-time-field-new">
                 <select name="person[openingtimes_attributes][-1][day]" id="opening-time-field-new">
                        <option value="0">Monday</option>
                        <option value="1">Tuesday</option>
                        <option value="2">Wednesday</option>
                        <option value="3">Thursday</option>
                        <option value="4">Friday</option>
                        <option value="5">Saturday</option>
                        <option value="6">Sunday</option></select>
                 <input type="time" name="person[openingtimes_attributes][-1][opens]" id="opening-time-field-new">
                 <span>-</span>
                 <input type="time" name="person[openingtimes_attributes][-1][closes]" id="opening-time-field-new">
                 </div>`).insertBefore(target);
                target.remove();
            }
        </script>

      <% end %>

      <div class="field mb-3">
        <%= form.label :username, class: 'form-label' %> <span class="text-muted">(your displayed name)</span>
        <%= form.text_field :username, class: 'form-control', autofocus: true, autocomplete: "username", id: 'username' %>
      </div>

      <div class="field mb-3">
        <%= form.label :email, class: 'form-label' %>
        <%= form.text_field :email, class: 'form-control', autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%# If provider is nil, i.e. not set to 'openid_connect', then it's an account with local pw %>
      <% if resource.provider.nil? %>
        <h5 class="fw-light mt-3">Login Password</h5>

        <div class="field mb-1">
          <%= form.label :password, class: 'form-label' %> <span class="text-muted">(leave blank if you don't want to change it)</span>
          <%= form.password_field :password, class: 'form-control', aria: { describedby: 'passwordHelp' }, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <div id="passwordHelp" class="form-text"><%= @minimum_password_length %> characters minimum</div>
          <% end %>
        </div>

        <div class="field mb-1">
          <%= form.label :password_confirmation, class: 'form-label' %>
          <%= form.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="field mb-1">
          <%= form.label :current_password, class: 'form-label' %> <span class="text-muted">(we need your current password to confirm password changes)</span>
          <%= form.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
        </div>
      <% end %> <%# if resource.provider.nil? %>

      <div class="actions mt-3">
        <%= form.submit "Update User Account", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <h3 class="fw-light mt-5">Logout Account</h3>

    <%= button_to destroy_user_session_path, class: 'btn btn-outline-primary', method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> Sign out
    <% end%>

    <h3 class="fw-light mt-5">Cancel Account</h3>

    <p>
      <%= button_to "Cancel my account permanently",
        registration_path(resource_name),
        class: 'btn btn-outline-primary',
        data: { confirm: "Are you sure?" },
        method: :delete %>
    </p>

  </div> <%# col-lg-6 col-md-6 mx-auto %>
</div> <%# row %>
