<div class="row">
  <div class="col-lg-6 col-md-6 mx-auto">
    <h3 class="fw-light"><%= t('contribute_content') %></h3>
    <%= link_to t("home"), root_url, class: "btn btn-secondary link-btn" %>

    <div class="actions mt-3">
      <%= link_to t("model.add_new", model: t('people.one')), new_person_path, class: 'btn btn-primary link-btn' %>
      <%= link_to t("model.add_new", model: t('locations.one')), new_location_path, class: 'btn btn-primary link-btn' %>
      <%= link_to t("model.add_new", model: t('rooms.one')), new_room_path, class: 'btn btn-primary link-btn' %>
      <%= link_to t("model.add_new", model: t('buildings.one')), new_building_path, class: 'btn btn-primary link-btn' %>
      <%= link_to t("model.add_new", model: t('events.one')), new_event_path, class: 'btn btn-primary link-btn' %>
      
      <%= form_tag import_events_path, multipart: true, class: 'form-inline' do %>
        <%= button_tag t('events.import_ics'), class: 'btn btn-primary mb-2' %>
        <%= file_field_tag :file, class: "form-control" %>
      <% end %>
    </div>

    <h2 class="fw-light"><%= t('model.edit', model: t("#{resource_name.to_s}.one")) %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= form.fields_for :person, resource.person do |person_subform| %>
        <%= render 'people/form_fields', form: person_subform, person: resource.person %>
      <% end %>

      <h4 class="fw-light mt-4 mb-3"><%= t('user.account.login_details') %></h4>

      <div class="field mb-3">
        <%= form.label t('user.name'), class: 'form-label' %>
        <%= form.text_field :username, class: 'form-control', autofocus: true, autocomplete: "username", id: 'username' %>
      </div>

      <%# If provider is nil, i.e. not set to 'openid_connect', then it's an account with local pw %>
      <% if resource.provider.nil? %>
        <div class="field mb-3">
          <%= form.label t('email'), class: 'form-label' %>
          <%= form.text_field :email, class: 'form-control', autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('user.account.awaiting_confirmation') %><%= resource.unconfirmed_email %></div>
        <% end %>

        <h5 class="fw-light mt-3"><%= t('user.account.password.one') %></h5>

        <div class="field mb-1">
          <%= form.label :password, class: 'form-label' %> <span class="text-muted"><%= t('user.account.password.leave_blank') %></span>
          <%= form.password_field :password, class: 'form-control', aria: { describedby: 'passwordHelp' }, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <div id="passwordHelp" class="form-text"><%= t('user.account.password.min_characters', minimum_password_length: @minimum_password_length) %></div>
          <% end %>
        </div>

        <div class="field mb-1">
          <%= form.label :password_confirmation, class: 'form-label' %>
          <%= form.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="field mb-1">
          <%= form.label :current_password, class: 'form-label' %> <span class="text-muted"><%= t('user.account.password.current_needed') %></span>
          <%= form.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
        </div>
      <% end %> <%# if resource.provider.nil? %>

      <div class="actions mt-3">
        <%= form.button t('user.account.update'), class: 'btn btn-primary', id: 'update-user-account' %>
      </div>
    <% end %>

    <%= button_to destroy_user_session_path, class: 'btn btn-outline-primary', method: :delete do %>
      <i class="fas fa-sign-out-alt"></i><%= t('user.account.signout') %>
    <% end%>

    <p>
      <%= button_to t('user.account.cancel'),
        registration_path(resource_name),
        class: 'btn btn-outline-primary',
        data: { confirm: t(:confirm) },
        method: :delete %>
    </p>

  </div> <%# col-lg-6 col-md-6 mx-auto %>
</div> <%# row %>
