<div class="row">
  <div class="col-lg-6 col-md-6 mx-auto">
    <h3 class="fw-light"><%= t('contribute_content') %></h3>
    <%= link_to t("home"), root_url, class: "btn btn-secondary link-btn" %>

    <div class="actions mt-3">
      <%= link_to t("add_new", model: t('people.one')), new_person_path, class: 'btn btn-primary link-btn' %>
      <%= link_to t("add_new", model: t('locations.one')), new_location_path, class: 'btn btn-primary link-btn' %>
      <%= link_to t("add_new", model: t('rooms.one')), new_room_path, class: 'btn btn-primary link-btn' %>
      <%= link_to t("add_new", model: t('buildings.one')), new_building_path, class: 'btn btn-primary link-btn' %>
      <%= link_to t("add_new", model: t('events.one')), new_event_path, class: 'btn btn-primary link-btn' %>
      
      <div class="field">
        <%= form_tag import_events_path, multipart: true, class: 'form-inline' do %>
          <%= button_tag t("events.import_ics"), class: 'btn btn-primary link-btn' %><br>
          <%= file_field :file, class: "form-control" %>
        <% end %>
      </div>
    </div>

    <h2 class="fw-light"><%= t(:edit_model, model: t("#{resource_name.to_s}.one")) %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= form.fields_for :person, resource.person do |person_subform| %>
        <%= render 'people/form_fields', form: person_subform, person: resource.person %>
      <% end %>

      <h4 class="fw-light mt-4 mb-3">Login Details</h4>

      <div class="field mb-3">
        <%= form.label t('user.name'), class: 'form-label' %>
        <%= form.text_field :username, class: 'form-control', autofocus: true, autocomplete: "username", id: 'username' %>
      </div>

      <%# If provider is nil, i.e. not set to 'openid_connect', then it's an account with local pw %>
      <% if resource.provider.nil? %>
        <div class="field mb-3">
          <%= form.label t('email'), class: 'form-label' %>
          <%= form.text_field :email, class: 'form-control', autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <h5 class="fw-light mt-3">Login Password</h5>

        <div class="field mb-1">
          <%= form.label :password, class: 'form-label' %> <span class="text-muted">(leave blank if you don't want to change it)</span>
          <%= form.password_field :password, class: 'form-control', aria: { describedby: 'passwordHelp' }, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <div id="passwordHelp" class="form-text"><%= @minimum_password_length %> characters minimum</div>
          <% end %>
        </div>

        <div class="field mb-1">
          <%= form.label :password_confirmation, class: 'form-label' %>
          <%= form.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="field mb-1">
          <%= form.label :current_password, class: 'form-label' %> <span class="text-muted">(we need your current password to confirm password changes)</span>
          <%= form.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
        </div>
      <% end %> <%# if resource.provider.nil? %>

      <div class="actions mt-3">
        <%= form.submit "Update User Account", class: 'btn btn-primary', id: 'update-user-account' %>
      </div>
    <% end %>

    <h3 class="fw-light mt-5">Logout Account</h3>

    <%= button_to destroy_user_session_path, class: 'btn btn-outline-primary', method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> Sign out
    <% end%>

    <h3 class="fw-light mt-5">Cancel Account</h3>

    <p>
      <%= button_to "Cancel my account permanently",
        registration_path(resource_name),
        class: 'btn btn-outline-primary',
        data: { confirm: t(:confirm) },
        method: :delete %>
    </p>

  </div> <%# col-lg-6 col-md-6 mx-auto %>
</div> <%# row %>
