<%= form_with(model: person) do |form| %>

  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3 edit-profile-picture">
    <%= form.label :profile_picture, class: 'form-label' %>
    <div class='profile-picture-wrapper'>
      <div class='profile-picture-container'>
        <% if person.profile_picture.attached? %>
          <img src="<%=(url_for(person.profile_picture))%>" alt="<%= person.profile_picture.filename %>"/>
        <% else %>
          <img src="<%=(url_for('/assets/default-profile-picture.png'))%>" alt="default-profile-picture">
        <% end %>
      </div>
      <button class='edit-btn' onclick="event.preventDefault(); $('input[type=file]').click()"><i class="fa fa-pen" aria-hidden="true"></i></button>
    </div>
    <%= form.file_field :profile_picture, class: 'form-control', accept: 'image/png,image/jpeg' %>
  </div>


  <div class="field mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :phone_number, class: 'form-label' %>
    <%= form.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :rooms, class: 'form-label' %><br/>
    <%= form.select 'room_ids',
      options_from_collection_for_select(Room.all, :id, :name, person.room_ids),
      {},
      multiple: true %>
  </div>

  <div class="field mb-3 opening-times-container">
    <%= form.label :openingtimes, class: 'form-label' %>
    <%= form.fields_for :openingtimes do |o| %>
      <div class="field" id="opening-time-field-<%= o.object.id %>">
        <%= o.select 'day',
            options_for_select({'Monday' => 1, 'Tuesday' => 2, 'Wednesday' => 3, 'Thursday' => 4, 'Friday' => 5, 'Saturday' => 6, 'Sunday' => 7}, o.object.day),
            {},
            multiple: false %>
        <%= o.time_field :opens %>
        <span>-</span>
        <%= o.time_field :closes %>
        <%= link_to(openingtime_path(o.object.id), :method => :delete, :class => 'btn btn-mini',
                    :remote => true, :onclick => "$('#opening-time-field-#{o.object.id}')[0].remove()") do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    <% end %>
    <%#<button class="btn" onclick="event.preventDefault(); addNewOpeningTime(this);" ><i class="fas fa-plus"></i> Add opening time</button>%>
  </div>

  <div class="actions mt-3">
    <%= form.submit "Update Person", class: 'btn btn-primary' %>
  </div>

  <script defer>
      $('input[name="user[profile_picture]"]').change(function () {
          const file = $(this).prop('files')[0] || null;
          if (!file) {return; }
          const url = URL.createObjectURL(file);
          $('.profile-picture-container img').prop('src', url);
          $('.profile-picture-container img').prop('alt', file.name);
      })

      const addNewOpeningTime = (target) => {
          $(`<div class="field">
           <input type="number" name="user[openingtimes_attributes][-1][day]">
           <select name="user[openingtimes_attributes][-1][opens(4i)]">
           ${Array(24).fill(0).map((_, i) => `<option value="${i}">${("0" + i).slice(-2)}</option>`).join('')}
           </select>
           :
           <select name="user[openingtimes_attributes][-1][opens(5i)]">
           ${Array(60).fill(0).map((_, i) => `<option value="${i}">${("0" + i).slice(-2)}</option>`).join('')}
           </select>
           <span>-</span>
           <select name="user[openingtimes_attributes][-1][closes(4i)]">
           ${Array(24).fill(0).map((_, i) => `<option value="${i}">${("0" + i).slice(-2)}</option>`).join('')}
           </select>
           :
           <select name="user[openingtimes_attributes][-1][closes(5i)]">
           ${Array(60).fill(0).map((_, i) => `<option value="${i}">${("0" + i).slice(-2)}</option>`).join('')}
           </select>
           <a class="btn btn-mini" onclick="$('#opening-time-field-17')[-1].remove()" data-remote="true" rel="nofollow" href="/openingtimes/17">
           <svg class="svg-inline--fa fa-trash fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"></path></svg>
           </a></div>`).insertBefore(target);
      }
  </script>
<% end %>
