<%= form_with(model: person) do |form| %>

  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3 edit-profile-picture">
    <%= form.label :profile_picture, class: 'form-label' %>
    <div class='profile-picture-wrapper'>
      <div class='profile-picture-container'>
        <% if person.profile_picture.attached? %>
          <img src="<%=(url_for(person.profile_picture))%>" alt="<%= person.profile_picture.filename %>"/>
        <% else %>
          <img src="<%=(url_for('/assets/default-profile-picture.png'))%>" alt="default-profile-picture">
        <% end %>
      </div>
      <button class='edit-btn' onclick="event.preventDefault(); $('input[type=file]').click()"><i class="fa fa-pen" aria-hidden="true"></i></button>
    </div>
    <%= form.file_field :profile_picture, class: 'form-control', accept: 'image/png,image/jpeg' %>
  </div>


  <div class="field mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :phone_number, class: 'form-label' %>
    <%= form.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :rooms, class: 'form-label' %><br/>
    <%= form.select 'room_ids',
      options_from_collection_for_select(Room.all, :id, :name, person.room_ids),
      {},
      multiple: true %>
  </div>

  <div class="field mb-3 opening-times-container">
    <%= form.label :openingtimes, class: 'form-label' %>
    <%= form.fields_for :openingtimes do |o| %>
      <div class="field" id="opening-time-field-<%= o.object.id %>">
        <%= o.select 'day',
            options_for_select(Openingtime.day_string_to_number_mapping, o.object.day),
            {},
            multiple: false %>
        <%= o.time_field :opens, value: o.object.opens%>
        <span>-</span>
        <%= o.time_field :closes, value: o.object.closes%>
        <%= link_to(openingtime_path(o.object.id), :method => :delete, :class => 'btn btn-mini',
                    :remote => true, :onclick =>
                      "{$('#opening-time-field-#{o.object.id}').next().remove();
                       $('#opening-time-field-#{o.object.id}')[0].remove()}") do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    <% end %>
    <button class="btn" onclick="event.preventDefault(); addNewOpeningTime(this);" ><i class="fas fa-plus"></i> Add opening time</button>
  </div>

  <div class="actions mt-3">
    <%= form.submit "Update Person", class: 'btn btn-primary' %>
  </div>

  <script defer>
      $('input[name="user[profile_picture]"]').change(function () {
          const file = $(this).prop('files')[0] || null;
          if (!file) {return; }
          const url = URL.createObjectURL(file);
          $('.profile-picture-container img').prop('src', url);
          $('.profile-picture-container img').prop('alt', file.name);
      })

      const options_html = `
      <% Openingtime.day_number_to_string_mapping.each do |number, string| %>
        <option value=<%= number %>><%= string %></option>
      <% end %>`; 

      const addNewOpeningTime = (target) => {
          $(`<div class="field" id="opening-time-field-new">
           <select name="person[openingtimes_attributes][-1][day]" id="opening-time-field-new">` + options_html + `</select>
           <input type="time" name="person[openingtimes_attributes][-1][opens]" id="opening-time-field-new">
           <span>-</span>
           <input type="time" name="person[openingtimes_attributes][-1][closes]" id="opening-time-field-new">
           </div>`).insertBefore(target);
          target.remove();
      }
  </script>
<% end %>
