<%= form_with(model: person) do |form| %>

  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3 edit-profile-picture">
    <%= form.label :profile_picture, class: 'form-label' %>
    <div class='profile-picture-wrapper'>
      <div class='profile-picture-container'>
        <% if person.profile_picture.attached? %>
          <img src="<%=(url_for(person.profile_picture))%>" alt="<%= person.profile_picture.filename %>"/>
        <% else %>
          <img src="<%=(url_for('/assets/default-profile-picture.png'))%>" alt="default-profile-picture">
        <% end %>
      </div>
      <button class='edit-btn' onclick="event.preventDefault(); $('input[type=file]').click()"><i class="fa fa-pen" aria-hidden="true"></i></button>
    </div>
    <%= form.file_field :profile_picture, class: 'form-control', accept: 'image/png,image/jpeg' %>
  </div>


  <div class="field mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :phone_number, class: 'form-label' %>
    <%= form.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :rooms, class: 'form-label' %><br/>
    <%= form.select 'rooms',
      options_from_collection_for_select(Room.all, :id, :name, person.rooms),
      {},
      multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
