<p id="notice"><%= notice %></p>

<h1 class="fw-light">People</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('people.first_name') %></th>
      <th><%= t('people.last_name') %></th>
      <th><%= t('email') %></th>
      <th><%= t('people.phone_number') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= mail_to person.email %></td>
        <td><%= tel_to person.phone_number %></td>
        <td class="td-btn"><%= link_to t(:show), person, class: "btn btn-secondary link-btn"  %></td>
        <td class="td-btn"><% if can? :update, person %><%= link_to t(:edit), edit_person_path(person), class: "btn btn-secondary link-btn"  %><%end%></td>
        <td class="td-btn"><% if can? :destroy, person %><%= link_to t(:destroy), person, method: :delete, data: { confirm: t(:confirm) }, class: "btn btn-secondary link-btn" %><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if can? :create, Person %>
  <%= link_to t('model.add_new', model: t('people.one')), new_person_path, class: "btn btn-primary link-btn"%>
<% end %>
