<p id="notice"><%= notice %></p>

<div class="edit-profile-picture">
  <strong>Profile picture:</strong>
  <div class='profile-picture-wrapper'>
    <div class='profile-picture-container'>
      <% if @person.profile_picture.attached? %>
        <img src="<%=(url_for(@person.profile_picture))%>" alt="<%= @person.profile_picture.filename %>"/>
      <% else %>
        <img src="<%=(url_for('/assets/default-profile-picture.png'))%>" alt="default-profile-picture">
      <% end %>
    </div>
  </div>
</div>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @person.phone_number %>
</p>

<p>
  <strong>Rooms:</strong>
  <ul>
      <% @person.rooms.each do | room | %>
        <li>
          <%= room.name %> |
          <%= link_to 'Map', building_map_path(target: "#{room.building.location_latitude},#{room.building.location_longitude}")%>
        </li>
      <% end %>
  </ul>
</p>

<p>
  <strong>Office hours:</strong>
  <ul>
    <% @person.openingtimes.each do | opening_time | %>
      <li>
        <%= opening_time.to_string %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
