<h2 class="mb-3 fw-light">
  <%= @person.first_name %>
  <%= @person.last_name %>
</h2>

<div class="mb-3 profile-picture show-profile-picture">
  <div class='profile-picture-wrapper'>
    <div class='profile-picture-container'>
      <% if @person.profile_picture.attached? %>
        <img src="<%=(url_for(@person.profile_picture))%>" alt="<%= @person.profile_picture.filename %>"/>
      <% else %>
        <%= image_tag "default-profile-picture.png", alt: "default-profile-picture"%>
      <% end %>
    </div>
  </div>
</div>

<p>
  <strong>Email:</strong>
  <%= mail_to @person.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= tel_to @person.phone_number %>
</p>

<% person_loc = @person.corresponding_user&.last_known_location %>
<% if not person_loc.nil? %>
  <p>
    <strong>Last known location:</strong>
    <a href="/route?dest=<%= person_loc %>">
      <%= person_loc %>
    </a>
  </p>
<% end %>

<p>
  <strong>Rooms:</strong>
  <ul class="container">
      <% @person.rooms.each do | room | %>
        <li class="row">
          <span class="col">
            <%= link_to room.name, room_path(room) %>
          </span>
          <span class="col">
            <a class="btn btn-outline-primary btn-sm" href="/route?dest=<%= room.name %>">
              <i class="fas fa-route"></i> Directions
            </a>
          </span>
        </li>
      <% end %>
  </ul>
</p>

<p>
  <strong>Office hours:</strong>
  <ul>
    <% @person.openingtimes.each do | opening_time | %>
      <li>
        <%= opening_time.to_string %>
      </li>
    <% end %>
  </ul>
</p>
