<% if current_user %>
<button id="person-favourite" class="favourite <% if @person.favourited_by.include?(current_user) %> selected <% end %>" title="<%= t('favourite') %>">
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
</button>
<% end %>

<h2 class="mb-3 fw-light">
  <%= @person.first_name %>
  <%= @person.last_name %>
</h2>

<div class="mb-3 profile-picture show-profile-picture">
  <div class='profile-picture-wrapper'>
    <div class='profile-picture-container'>
      <% if @person.profile_picture.attached? %>
        <img src="<%=(url_for(@person.profile_picture))%>" alt="<%= @person.profile_picture.filename %>"/>
      <% else %>
        <%= image_tag "default-profile-picture.png", alt: "default-profile-picture"%>
      <% end %>
    </div>
  </div>
</div>

<p>
  <strong>Email:</strong>
  <%= mail_to @person.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= tel_to @person.phone_number %>
</p>

<p>
  <strong>Rooms:</strong>
  <ul>
      <% @person.rooms.each do | room | %>
        <li>
          <%= link_to room.name, room_path(room) %>
        </li>
      <% end %>
  </ul>
</p>

<p>
  <strong>Office hours:</strong>
  <ul>
    <% @person.openingtimes.each do | opening_time | %>
      <li>
        <%= opening_time.to_string %>
      </li>
    <% end %>
  </ul>
</p>

<script defer>
  $('#person-favourite').click(async function (e) {
    const csrfToken = document.querySelector('meta[name="csrf-token"]')?.getAttribute("content") ?? "";
    let becomesFavourite = !e.currentTarget.classList.contains("selected");

    const body = JSON.stringify({
      favourite: becomesFavourite
    });
    const response = await fetch(
      `/people/<%= @person.id %>/favourite`,
      {
        method: "PUT",
        body: body,
        headers: {
          "X-CSRF-TOKEN": csrfToken,
          "Content-Type": "application/json",
        },
      }
    );
    console.assert(response.status === 204); // HTTP "No content"

    if(becomesFavourite) {
      e.currentTarget.classList.add("selected")
    } else {
      e.currentTarget.classList.remove("selected")
    }

  })
</script>
