<p id="notice"><%= notice %></p>
<% if @search_results.empty? %>
  <div id="no_results_message">
    <h1>Your search did not match any pages</h1>
  </div>
<% else %>
<h1>Search Results</h1>

  <tbody>
    <% @search_results.each do |search_result| %>
      <tr>
        <td class="search_result_item">
          <% if search_result.type == "person" %>
            <img src="<%=(url_for('/assets/person.png'))%>" height="25" width="25" alt="user_picture">
          <% elsif search_result.type == "building" %>
            <img src="<%=(url_for('/assets/building.png'))%>" height="25" width="25" alt="building_picture">
          <% elsif search_result.type == "room" %>
            <img src="<%=(url_for('/assets/room.png'))%>" height="25" width="25" alt="room_picture">
          <% end %>
          <%= link_to search_result.title, search_result.link, class: "search_result_title" %>
            <% if !search_result.description.nil? %>
              <p class="search_result_description"><%= search_result.description %></p>
            <% else %>
              <p class="search_result_description">
                This is a dummy-description meant to be removed.
                It shows that this text has to be very short.
                [ remove me at 'app/views/search_results/index.html.erb' ]
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
