<p id="notice"><%= notice %></p>
<% if @search_results.empty? %>
  <div id="no_results_message">
    <h1><%= t('search_results.not_found') %></h1>
  </div>
<% else %>

  <div class="row">
    <div class="col-10">
      <h1><%= t('search_results.other') %></h1>
    </div>
    <% if @sort_location == "true"  %>
    <div class="col-1">
      <%= link_to image_tag("sort_location.png", height: '25', width: '25', :class => "sort_button"), search_results_path(sort_location: "false", query: @search_query)%>
    </div>
    <% elsif @sort_location == "false" %>
    <div class="col-1">
      <%= link_to image_tag("sort_alphabetically.png", height: '25', width: '25', :class => "sort_button"), search_results_path(sort_location: "true", query: @search_query)%>
    </div>
    <% end %>
  </div> 

  
  <tbody>
    <% @search_results.each do |search_result| %>
      <tr>
        <td class="search_result_item">
          <% if search_result.type == "person" %>
            <%= image_tag "person.png", alt: "user_picture", height: "25", width: "25"%>
          <% elsif search_result.type == "building" %>
            <%= image_tag "building.png", alt: "building_picture", height: "25", width: "25"%>
          <% elsif search_result.type == "location" %>
            <%= image_tag "location.png", alt: "location_picture", height: "25", width: "25"%>
          <% elsif search_result.type == "room" %>
            <%= image_tag "room.png", alt: "room_picture", height: "25", width: "25"%>
          <% elsif search_result.type == "event" %>
            <%= image_tag "event.png", alt: "event_picture", height: "25", width: "25"%>
          <% end %>
          <%= link_to search_result.title, search_result.link, class: "search_result_title" %>
            <% if !search_result.description.nil? %>
              <p class="search_result_description"><%= search_result.description %></p>
            <% else %>
              <p class="search_result_description">
                This is a dummy-description meant to be removed.
                It shows that this text has to be very short.
                [ remove me at 'app/views/search_results/index.html.erb' ]
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
