<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title d-none d-sm-block" id="offcanvas">Navigation</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-0">
    <div class="accordion mb-2 accordion-flush" id="routingInput">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-directions directions-icon"></i>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#routingInput">
          <div class="accordion-body">
            <form class="row gy-2 gx-3 align-items-center" autocomplete="off" id="navigation_form" method="GET" action="/building_map">
              <div class="col-auto">
                <div class="input-group">
                  <div class="input-group-text"><i class="fas fa-map-marker-alt route-start-icon"></i></div>
                  <input name="start" type="text" class="form-control" list="startOptions" id="start_input"
                         placeholder="From" onchange="request_location()">
                </div>
              </div>
              <div class="col-auto">
                <div class="input-group">
                  <div class="input-group-text"><i class="fas fa-map-marker-alt route-end-icon"></i></div>
                  <input name="dest" type="text" class="form-control" list="destOptions" id="dest_input"
                         placeholder="To">
                </div>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Go</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<datalist id="startOptions">
  <option><%= BuildingMapController::YOUR_LOCATION_MAGIC_STRING %></option>
  <option><%= BuildingMapController::PIN_1_MAGIC_STRING %></option>
  <option><%= BuildingMapController::PIN_2_MAGIC_STRING %></option>
  <%= Places::DESTINATIONS.each do |dest, coords| %>
    <option>
      <%= dest %>
    </option>
  <% end %>
</datalist>
<datalist id="destOptions">
  <option><%= BuildingMapController::PIN_1_MAGIC_STRING %></option>
  <option><%= BuildingMapController::PIN_2_MAGIC_STRING %></option>
  <%= Places::DESTINATIONS.each do |dest, coords| %>
    <option>
      <%= dest %>
    </option>
  <% end %>
</datalist>

<script>
    var map;
</script>

<div class="container-fluid">git
  <%= map(
        center: BuildingMapHelper.leaflet_center(@start),
        polygons: BuildingMapHelper.leaflet_polygons,
        polylines: BuildingMapHelper.leaflet_polylines(@route),
        markers: BuildingMapHelper.leaflet_markers(@route, @target))
  %>
</div>

<script>
  let LeafIcon = L.Icon.extend({
      options: {
          iconSize: [40, 40],
          iconAnchor: [20, 40],
          popupAnchor: null,
          shadowUrl: null,
          shadowSize: null,
          shadowAnchor: null
      }
  });

  let pinIcons = [
      new LeafIcon({iconUrl: "<%=(url_for('/assets/pin-1.png'))%>" }),
      new LeafIcon({iconUrl: "<%=(url_for('/assets/pin-2.png'))%>" })
  ];

  let pins = [];

  function addMarker(e, pinNumber) {
      pins[pinNumber] = L.marker(e.latlng, {icon: pinIcons[pinNumber]});
      pins[pinNumber].addTo(map);
  }

  function removeAllMarkers(e) {
      pins.forEach(pin => pin.remove());
      pins = [];
  }

  function onClick(e) {
      if(!pins[0]){
          addMarker(e, 0);
      }else if(!pins[1]){
          addMarker(e, 1);
      }else{
          removeAllMarkers(e);
      }
  }

  map.on('click', onClick);
</script>

<script>
    let currentLocation;

    function validate_place_input(inputId, optionsId) {
        const input = document.getElementById(inputId);
        const options = document.getElementById(optionsId).options;
        return Array.from(options).some(o => o.value === input.value);
    }

    const startInputField = document.getElementById("start_input");
    startInputField.addEventListener("change", () => {
        if (validate_place_input("start_input", "startOptions")) {
            startInputField.setCustomValidity("");
        } else {
            startInputField.setCustomValidity("Please select a valid starting place.");
        }
    });
    startInputField.dispatchEvent(new Event("change"));

    const destInputField = document.getElementById("dest_input");
    destInputField.addEventListener("change", () => {
        if (validate_place_input("dest_input", "destOptions")) {
            destInputField.setCustomValidity("");
        } else {
            destInputField.setCustomValidity("Please select a valid destination place.");
        }
    });
    destInputField.dispatchEvent(new Event("change"));

    function request_location() {
        if (startInputField.value !== "<%= BuildingMapController::YOUR_LOCATION_MAGIC_STRING %>") return;
        navigator.geolocation.getCurrentPosition(
            (pos) => {
                currentLocation = String(pos.coords.latitude) + "," + String(pos.coords.longitude);
                startInputField.setCustomValidity("");
            },
            (error) => {
                console.warn(`ERROR(${error.code}): ${error.message}`);
                if (error.code === GeolocationPositionError.PERMISSION_DENIED) {
                    startInputField.setCustomValidity("You have to grant your browser the permission to access your location if you want to use this feature.")
                } else {
                    startInputField.setCustomValidity("Your browser could not determine your position. Please choose a different starting place.")
                }
            }
        );
    }

    function pinCoordinatesString(pin){
        return String(pin.getLatLng().lat.toFixed(7)) + "," + String(pin.getLatLng().lng.toFixed(7))
    }

    document.getElementById("navigation_form").addEventListener("submit", () => {
        for(let inputField of [startInputField, destInputField]){
            switch(inputField.value){
                case "<%= BuildingMapController::YOUR_LOCATION_MAGIC_STRING %>":
                    inputField.value = currentLocation;
                    break;
                case "<%= BuildingMapController::PIN_1_MAGIC_STRING %>":
                    inputField.value = pinCoordinatesString(pins[0]);
                    break;
                case "<%= BuildingMapController::PIN_2_MAGIC_STRING %>":
                    inputField.value = pinCoordinatesString(pins[1]);
                    break;
            }
        }
    });
</script>
