<h1>Here are the user's details!</h1>

<div class="edit-profile-picture">
  <strong>Profile picture:</strong>
  <div class='profile-picture-wrapper'>
    <div class='profile-picture-container'>
        <% if @user.profile_picture.attached? %>
            <img src="<%=(url_for(@user.profile_picture))%>" alt="<%= @user.profile_picture.filename %>"/>
        <% else %>
            <img src="<%=(url_for('/assets/default-profile-picture.png'))%>" alt="default-profile-picture">
        <% end %>
    </div>
  </div>
</div>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone Number</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Username</strong>
  <%= @user.username %>
</p>
