<script> function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
</script>



<div class="row">
  <div class="col-lg-6 col-md-6 mx-auto">
    <h1 class="fw-light">
      Welcome to the HPI Compass Portal<%= ", #{current_user.username}" if user_signed_in? && current_user.username.present? %>!
    </h1>
    <p class="lead text-muted">Something short and concise about the value of the HPI Compass Portal. Short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    <p>
      <%= button_to(user_openid_connect_omniauth_authorize_path,
        class: 'btn btn-primary btn-md', id: 'openid-signin',
        # devise helper: https://github.com/heartcombo/devise#controller-filters-and-helpers
        disabled: user_signed_in?,
        # disable button after click: https://apidock.com/rails/ActionView/Helpers/UrlHelper/button_to
        data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Logging in..."}) do %>
          <i class="fab fa-openid"></i> HPI OpenID Log In
      <% end %>
    </p>
    <hr>
    <p>
      <%= link_to new_user_session_path, class: 'btn btn-outline-primary btn-sm', id: "signin" do %>
        <i class="fas fa-sign-in-alt"></i> Local Log In
      <% end %>
      <%= link_to new_user_registration_path, class: 'btn btn-outline-secondary btn-sm', id: "signup" do %>
        <i class="fas fa-user-plus"></i> Local Sign Up
      <% end %>
    </p>
    <%= form_with url: search_results_path, method: :get do |form| %>
      <div class="row  mb-6">
        <div class="col">
          <%= form.text_field :query, class: "form-control", :placeholder => "Search...", id: "search", :onclick => "getLocalHistory(this);" %>
            <table id = "historyDiv" name="history">
              <tr> 
                <td id = "history1"> </td>
              </tr>
              <tr> 
                <td id = "history2"></td> 
              </tr>
              <tr> 
                <td id = "history3"> </td>
              </tr>
              <tr> 
                <td id = "history4"> </td> 
              </tr>
              <tr> 
                <td id = "history5"> </td>
              </tr>
            </table>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    <% end %>
  </div>

</div>

<script> function myJsonParse(str){
  var ret = [];
  str = str.substring(1, str.length - 1);
  pairs = str.split(",");
  for(i = 0; i < pairs.length; i++){
    sub = pairs[i].substring(1, pairs[i].length - 1);
    subsub = pairs[i].split('"');
    key = subsub[1];
    value = subsub[3];
    ret.push(key);
    ret.push(value);
  }
  return ret;
}

</script>
<script>
  function getLocalHistory(parent){
  var historyCookie = getCookie("compassHistory");
  var history = JSON.parse(historyCookie);
  i = 1;
  for(var element in history) {
    td_id = "history" + i;
    td = document.getElementById(td_id);
    atitle = document.createElement("a");
    atitle.text = element;
    td.appendChild(atitle);
    alink = document.createElement("a");
    alinks.href = history[element];
    td.appendChild(alink);
    i = i+1;
  }

  element = document.getElementById("historyDiv");
  element.style.visibility = "hidden";
  return;
  var selectList = document.createElement("select");
  selectList.id = "historySelection";
  parent.appendChild(selectList);
  cookie = getCookie("historyCookie");
  history = JSON.parse(cookie);
  for(element in history){
    var option = document.createElement("option");
    option.value = element;
    option.text = history[element];
    selectList.appendChild(option);
  }
  }
</script>