<div class="row">
  <div class="col-lg-6 col-md-6 mx-auto">
    <h1 class="fw-light">
      Welcome to the HPI Compass Portal<%= ", #{current_user.username}" if user_signed_in? && current_user.username.present? %>!
    </h1>
    <p class="lead text-muted">Something short and concise about the value of the HPI Compass Portal. Short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    <p>
      <%= button_to(user_openid_connect_omniauth_authorize_path,
        class: 'btn btn-primary btn-md', id: 'openid-signin',
        # devise helper: https://github.com/heartcombo/devise#controller-filters-and-helpers
        disabled: user_signed_in?,
        # disable button after click: https://apidock.com/rails/ActionView/Helpers/UrlHelper/button_to
        data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Logging in..."}) do %>
          <i class="fab fa-openid"></i> HPI OpenID Log In
      <% end %>
    </p>
    <hr>
    <p>
      <%= link_to new_user_session_path, class: 'btn btn-outline-primary btn-sm', id: "signin" do %>
        <i class="fas fa-sign-in-alt"></i> Local Log In
      <% end %>
      <%= link_to new_user_registration_path, class: 'btn btn-outline-secondary btn-sm', id: "signup" do %>
        <i class="fas fa-user-plus"></i> Local Sign Up
      <% end %>
    </p>
    <%= form_with url: search_results_path, method: :get do |form| %>
      <div class="row  mb-6">
        <div class="col">
          <%= form.text_field :query, class: "form-control", :placeholder => "Search...", id: "search", :onclick => "showHistory(this);" %>
          <div name="history" class = "dropbtn">
            <div id = "historyDiv" class = "dropdown-content">
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function showHistory(parent){
    var historyCookie = getCookie("compassHistory");
    var history = JSON.parse(historyCookie);
    var links = '';
    for(var element in history){
      links += '<li><a href=';
      links += history[element];
      links += '>';
      links += element;
      links += '</a></li>';
    }
    // links += '</ul>';
	  document.getElementById("historyDiv").innerHTML = links;
    document.getElementById("historyDiv").classList.toggle("show");
    document.getElementById("historyDiv").style.display = "block";
  }

  window.onclick = function(event){
    if(!event.target.matches('.form-control')){
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove("show");
          openDropdown.style.display = "none";
        }
      }
    }
  }
</script>