
<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', count: @event.errors.count, model: t('events.one')) %></h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t(:name), class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label t(:description), class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

    <div>
      <%= form.label t('rooms.one'), class: "form-label" %>
      <%= form.select 'room_id',
          options_from_collection_for_select(
            Room.all, :id, :name, event.room.nil? ? 1 : event.room.id) + options_for_select([["No Room", nil]]),
          {},
          multiple: false, class: "form-control" %>
    </div>

  <div class="field">
    <%= form.label t('events.start_date'), class: "form-label" %>
    <%= form.datetime_select :start_time, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label t('events.end_date'), class: "form-label" %>
    <%= form.datetime_select :end_time, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label t('events.recurrence_rule'), class: "form-label" %>
    <%= form.text_area :recurring, class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit t('model.create', model: t('events.one')), class: "btn btn-primary" %>
  </div>
<% end %>
