<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  
    <div>
      <%= form.label :room %>
        <%= form.select 'room',
            options_from_collection_for_select(Room.all, :id, :name),
            {},
            multiple: false %>
    </div>

  <div class="field">
    <%= form.label "Start Date" %>
    <%= form.datetime_select :d_start %>
  </div>

  <div class="field">
    <%= form.label "End Date" %>
    <%= form.datetime_select :d_end %>
  </div>

  <div class="field">
    <%= form.label :recurring %>
    <%= form.text_area :recurring %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
