
<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

    <div>
      <%= form.label :room, class: "form-label" %>
      <%= form.select 'room_id',
          options_from_collection_for_select(
            Room.all, :id, :name, event.room.nil? ? 1 : event.room.id) + options_for_select([["No Room", nil]]),
          {},
          multiple: false, class: "form-control" %>
    </div>

  <div class="field">
    <%= form.label "Start Date", class: "form-label" %>
    <%= form.datetime_select :start_time, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "End Date", class: "form-label" %>
    <%= form.datetime_select :end_time, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :recurring, class: "form-label" %>
    <%= form.text_area :recurring, class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
