<h1 class="fw-light">Events</h1>

<%= form_tag import_events_path, multipart: true, class: 'form-inline' do %>
  <div class="form-group mb-2">
    <%= file_field_tag :file, class: 'attachment' %>
  </div>

  <div class="col-sm-10">
    <%= submit_tag "Import ICS", class: 'btn btn-primary mb-2' %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Room</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Recurring</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.description %></td>
          <% if event.room.nil? then %>
            <td><%= "No Room" %></td>
          <% else %>
            <td><%= link_to event.room.name, room_path(event.room) %></td>
          <% end %>
          <td><%= event.start_time %></td>
          <td><%= event.end_time %></td>
          <td><%= event.rule %></td>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
