<h2 class="mb-3 fw-light"><%= @event.name %></h2>

<div class="td-btn"><%= link_to t('calendar'), calendar_path(event_id: @event.id, start_date: @event.queried_occurence), class: "btn btn-secondary link-btn" %></div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= "#{t(:description)}:" %></strong>
  </label>
  <p class="form-control-static">
    <%= @event.description %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= "#{t('events.start_date')}:"%></strong>
  </label>
  <p class="form-control-static">
    <%= @event.start_time.to_s %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= "#{t('events.end_date')}:"%></strong>
  </label>
  <p class="form-control-static">
    <%= @event.end_time.to_s %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= "#{t('rooms.one')}:"%></strong>
  </label>
  <p class="form-control-static">
    <% if @event.room.nil? then %>
      <td><%= "No Room" %></td>
    <% else %>
      <td><%= link_to @event.room.name, room_path(@event.room) %></td>
    <% end %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= "#{t('events.start_date')}:"%></strong>
  </label>
  <p class="form-control-static">
    <%= @event.rule %>
  </p>
</div>

<% if @event.room %>
  <script id="_latlonginfo" type="application/json">
  [<%= @event.room.building.location_latitude %>,<%= @event.room.building.location_longitude %>]
  </script>
<% end %>
