<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Room:</strong>
  <% room = @event.room_id? ? Room.find(@event.room_id) : nil %>
  <% if !room.nil? then %>
    <%= link_to room.name, room_path(room) %>
  <% else %>
    <%= "No Room" %>
  <% end %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @event.d_start %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @event.d_end %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @event.rule %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
