<%= form_with(model: building) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', count: @building.errors.count, model: t('buildings.one')) %></h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label t("buildings.latitude"), class: "form-label" %>
    <%= form.text_field :location_latitude, class: "form-control", value: latitude %>
  </div>

  <div class="field">
    <%= form.label t("buildings.longitude"), class: "form-label" %>
    <%= form.text_field :location_longitude, class: "form-control", value: longitude %>
  </div>

  <div class="actions mt-3">
    <%= form.submit t('model.create', model: t('buildings.one')), class: "btn btn-primary" %>
  </div>
<% end %>
