<%= form_with(model: building) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :location_latitude, class: "form-label" %>
    <%= form.text_field :location_latitude, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :location_longitude, class: "form-label" %>
    <%= form.text_field :location_longitude, class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
