<p id="notice"><%= notice %></p>

<h2 class="mb-3 fw-light"><%= @building.name %></h2>

<p>
  <strong>Location latitude:</strong>
  <%= @building.location_latitude %>
</p>

<p>
  <strong>Location longitude:</strong>
  <%= @building.location_longitude %>
</p>

<a class='btn btn-primary' href="/route?dest=<%= @building.name %>"><i class="fas fa-route"></i><span>Directions</span></a>

<script id="_latlonginfo" type="application/json">
[<%= @building.location_latitude %>,<%= @building.location_longitude %>]
</script>
