<h2 class="mb-3 fw-light">
  <%= if I18n.locale == :de
        @building.name_de.nil? || @building.name_de.empty? ? @building.name : @building.name_de
      elsif I18n.locale == :en
        @building.name
      end%>
</h2>
<% if current_user %>
<button id="building-favourite" class="favourite <% if @building.favourited_by.include?(current_user) %> selected <% end %>" title="<%= t('favourite') %>">
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
</button>
<% end %>


<div class="field mb-3">
  <label class="form-label">
    <strong>
      <%=t("name")%>:
    </strong>
  </label>
  <p class="form-control-static">
  <%= if I18n.locale == :de
        @building.name_de.nil? || @building.name_de.empty? ? @building.name : @building.name_de
      elsif I18n.locale == :en
        @building.name
      end%>
  </p>
</div>

<a class='btn btn-primary' href='/route?dest=<%= @building.name %>'>
  <i class='fas fa-route'></i> <%= t("buildings.directions") %>
</a>

<script id="_latlonginfo" type="application/json">
[<%= @building.location_latitude %>,<%= @building.location_longitude %>]
</script>

<script defer>
  $('#building-favourite').click(async function (e) {
    const csrfToken = document.querySelector('meta[name="csrf-token"]')?.getAttribute("content") ?? "";
    let becomesFavourite = !e.currentTarget.classList.contains("selected");

    const body = JSON.stringify({
      favourite: becomesFavourite
    });
    const response = await fetch(
      `/buildings/<%= @building.id %>/favourite`,
      {
        method: "PUT",
        body: body,
        headers: {
          "X-CSRF-TOKEN": csrfToken,
          "Content-Type": "application/json",
        },
      }
    );
    console.assert(response.status === 204); // HTTP "No content"

    if(becomesFavourite) {
      e.currentTarget.classList.add("selected")
    } else {
      e.currentTarget.classList.remove("selected")
    }

  })
</script>
