<h2 class="mb-3 fw-light"><%= @building.name %></h2>

<div class="field mb-3">
  <label class="form-label">
    <strong>Name:</strong>
  </label>
  <p class="form-control-static">
  <%= @building.name %>
  </p>
</div>

<a class='btn btn-primary' href="/route?dest=<%= @building.name %>"><i class="fas fa-route"></i><span>Directions</span></a>

<script id="_latlonginfo" type="application/json">
[<%= @building.location_latitude %>,<%= @building.location_longitude %>]
</script>
