import * as polylabel from "polylabel";
import { PIN_1_MAGIC_STRING, PIN_2_MAGIC_STRING } from "./constants";

let targetMarkerLayer;

let pinIcons = [
  L.divIcon({
    iconSize: null,
    html: "<div style='' class='pin-icon1'></div>",
  }),
  L.divIcon({
    iconSize: null,
    html: "<div style='' class='pin-icon2'></div>",
  }),
];

<% helpers = ActionController::Base.helpers %>

const geoJsonLayerFiles = [
  "<%= helpers.asset_path('ABC_0.geojson') %>",
  "<%= helpers.asset_path('ABC_1.geojson') %>",
  "<%= helpers.asset_path('ABC_2.geojson') %>",
  "<%= helpers.asset_path('H_0.geojson') %>",
  "<%= helpers.asset_path('H_1.geojson') %>",
  "<%= helpers.asset_path('H_2.geojson') %>",
  "<%= helpers.asset_path('H_3.geojson') %>",
  "<%= helpers.asset_path('HS_0.geojson') %>",
  "<%= helpers.asset_path('HS_-1.geojson') %>",
  "<%= helpers.asset_path('G_0.geojson') %>",
  "<%= helpers.asset_path('G_1.geojson') %>",
  "<%= helpers.asset_path('G_-1.geojson') %>",
  "<%= helpers.asset_path('E_-1.geojson') %>",
  "<%= helpers.asset_path('E_0.geojson') %>",
  "<%= helpers.asset_path('E_1.geojson') %>",
  "<%= helpers.asset_path('E_2.geojson') %>",
  "<%= helpers.asset_path('V_0.geojson') %>",
  "<%= helpers.asset_path('V_1.geojson') %>",
  "<%= helpers.asset_path('V_2.geojson') %>"
];

export let pins = [];
export let pinFloors = [];
let layerControl;
/**
 * defines the floor that is currently displayed
 */
export let currentFloor = 0;
/**
 * object that contains for each existing floor two layer groups, one for rooms and one for labels
 */
const floors = {};
let markerLayer;

export async function setupMap() {
  global.map = L.map("map");
  layerControl = L.control.layers({}, {}, { position: "topleft", sortLayers: true }).addTo(map);
  // add a title to the leaflet layer control
  $("<h6>Floors</h6>").insertBefore("div.leaflet-control-layers-base");

  L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      "&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> | <a href='https://openstreetmap.org/fixthemap'>Contribute</a>",
    maxZoom: 22,
    maxNativeZoom: 19,
  }).addTo(map);

  const view = await getView();
  setView(view);

  // display indoor information eg. rooms, labels
  await Promise.all([
    loadGeoJsonFile("<%= helpers.asset_path('buildings.geojson') %>", setupGeoJsonFeatureOutdoor, getBuildingStyle, true),
    Promise.all(geoJsonLayerFiles.map((filename) => loadGeoJsonFile(filename, setupGeoJsonFeatureIndoor, getRoomStyle)))
  ]);
  map.on("zoomend", recalculateTooltipVisibility);
  map.on("baselayerchange", (event) => {
    currentFloor = parseInt(event.name);
    recalculateTooltipVisibility();
  });
  // Call recalculateTooltipVisibility once to set the visibilities correct
  recalculateTooltipVisibility();

  // Add pins on click
  map.on("click", onClick);
}

function formatQueryParameters(position){
  const query = new URLSearchParams(window.location.search);
  query.append("long", position.lng);
  query.append("lat", position.lat);
  return query.toString();
}

function pinPopupContent(position) {
  const params = formatQueryParameters(position);
  return `
    <ul class=pin-menu>
      <li><a href="/rooms/new?${params}">Add Room</a></li>
      <li><a href="/buildings/new?${params}">Add Building</a></li>
      <li><a href="/locations/new?${params}">Add Location</a></li>
      <li><a id="deletepin" href="javascript:void(0);">Delete Pin</a></li>
    </ul>
  `;
}

function addPin(position, pinNumber) {
  pins[pinNumber] = L.marker(position, { icon: pinIcons[pinNumber] });
  pins[pinNumber].addTo(map);
  pins[pinNumber].on("click", function (e) {
    pinOnClick(pinNumber, position);
  });
  pinFloors[pinNumber] = currentFloor;
}

function pinOnClick(pinNumber, position){
  var popup = L.popup()
    .setLatLng(position)
    .setContent(pinPopupContent(position))
    .openOn(map);
  document.getElementById("deletepin").addEventListener("click", function(e) {
    removePinAndPopup(pinNumber, popup);
  }, false);
}

function removePinAndPopup(pinNumber, popup){
  removePin(pinNumber);
  popup.remove();
}

function removePin(pinNumber) {
  pins[pinNumber].remove();
  pins[pinNumber] = null;
  pinFloors[pinNumber] = null;
}

function removeAllPins() {
  for (let i = 0; i < pins.length; i++) {
    removePin(i);
  }
}

function onClick(e) {
  if (!pins[0] || pins[0] === null) {
    addPin(e.latlng, 0);
  } else if (!pins[1] || pins[1] === null) {
    addPin(e.latlng, 1);
    $("#_overlay").addClass("open");
    $("#toggle-overlay").addClass("visible");
    $("#toggle-overlay").addClass("open");
    ajaxCall(
      null,
      "/route",
      `start=${PIN_1_MAGIC_STRING}&dest=${PIN_2_MAGIC_STRING}`
    );
  } else {
    removeAllPins();
  }
}

export function resetTargetMarkers() {
  if (targetMarkerLayer) targetMarkerLayer.clearLayers();
}

export function getUIPadding() {
  if (window.innerWidth > 750) {
    const width = $(".app-overlay-bottom").width();
    return [width, 0];
  } else {
    const height = $(".app-overlay-bottom").height();
    return [0, height];
  }
}

export function showTargetMarker(coordinates) {
  if (targetMarkerLayer) targetMarkerLayer.clearLayers();
  else targetMarkerLayer = L.layerGroup();
  const marker = {
    latlng: coordinates,
    divIcon: {
      html: "<img src='<%= helpers.asset_path("pin.png") %>'>",
      className: "target-pin",
    },
  };
  const uiPadding = getUIPadding();
  addMarker(marker, targetMarkerLayer);
  targetMarkerLayer.addTo(map);
  map.fitBounds([coordinates], {
    paddingTopLeft: [uiPadding[0], 0],
    paddingBottomRight: [0, uiPadding[1]],
    duration: 0.5,
    animate: true,
  });
}

export function setView(view) {
  map.setView(view["latlng"], view["zoom"]);
}

export function addMarkers(markers, layer = map) {
  markers.forEach((marker) => {
    addMarker(marker, layer);
  });
}

export function addMarker(marker, layer = map) {
  marker["divIcon"]["iconSize"] = [];
  marker["divIcon"]["iconAnchor"] = [0, 0];
  marker["divIcon"]["popupAnchor"] = [0, 0];
  const icon = L.divIcon(marker["divIcon"]);
  return L.marker(marker["latlng"], { icon }).addTo(layer);
}

export function addAnyMarker(marker, layer = map) {
  marker.addTo(layer);
}

export function addRoutePolyline(polyline, isIndoor, layer = map, style = {}) {
  const className = isIndoor ? "route-path-indoor" : "route-path-outdoor";
  const styling = Object.assign({ className }, style);
  return L.polyline(polyline, styling).addTo(layer);
}

export async function displayRoute(start_coordinates, start_floor, dest_coordinates, dest_floor) {
  const routeParams = new URLSearchParams({
    start: start_coordinates,
    dest: dest_coordinates,
    start_floor,
    dest_floor,
  });
  const route = await $.ajax({
    type: "GET",
    url: "/building_map/route",
    data: routeParams.toString(),
    dataType: "json",
  });

  let completeLine = []

  for (const floor in floors) {
    floors[floor]["paths"].clearLayers();
  }

  route["polylines"].forEach(line => {
    const color = line["indoor"]? "#000000": "#346eeb";
    addRoutePolyline(line["polyline"], line["indoor"], floors[line["floor"]]["paths"], {color: color});
    Object.keys(floors).forEach(floor => {
      if(floor == line["floor"]) return;
      addRoutePolyline(line["polyline"], line["indoor"], floors[floor]["paths"], {color: color, dashArray: "5, 5", dashOffset: "5", opacity: 0.5, weight: 1});
    });
    completeLine = completeLine.concat(line["polyline"]);
  });

  if(markerLayer) markerLayer.clearLayers();
  else markerLayer = L.layerGroup();
  addMarker(route["marker"]).addTo(markerLayer);
  markerLayer.addTo(map);

  if (completeLine.length === 0) return
  const polyline = L.polyline(completeLine)
  const uiPadding = getUIPadding();
  map.fitBounds(polyline.getBounds(), {
    paddingTopLeft: [uiPadding[0], 0],
    paddingBottomRight: [0, uiPadding[1]],
    animate: true,
    duration: 1,
  });
}

async function getView() {
  return $.ajax({
    type: "GET",
    url: "/building_map/view",
    dataType: "json",
  });
}

function setupGeoJsonFeatureIndoor(feature, layer) {
  const level = parseInt(feature.properties.level_name);

  if (isNaN(level)) {
    console.warn(
      "feature has no valid level name and will be skipped: ",
      feature.properties.level_name,
      feature
    );
    return;
  }

  if (!floors[level]) {
    floors[level] = { rooms: L.layerGroup(), labels: L.layerGroup(), paths: L.layerGroup()};
    const newLayer = L.layerGroup([floors[level].rooms, floors[level].labels, floors[level].paths]);
    layerControl.addBaseLayer(newLayer, feature.properties.level_name);
    // We add the current floor to the map here so that the map and layer control reference the same object
    // now the layer control will select the correct check box automatically
    if (level === currentFloor) {
      newLayer.addTo(map);
    }
  }

  floors[level].rooms.addLayer(layer);

  // find a position, create an invisible marker and bind a tooltip to it
  // we do not bind the tooltip to the room because you can only change the position of a tooltip by defining an offset
  // to the referenced object (you cannot give it a coordinate), we would need to determine an offset for each room

  // used for polylabel to estimate the visual center of a polygon that is inside of the polygon
  // lower value -> higher precision
  const markerPositionPrecision = 0.000001;
  const markerPosition = polylabel(
    feature.geometry.type === "Polygon" ? feature.geometry.coordinates : feature.geometry.coordinates[0],
    markerPositionPrecision
  );

  const label = L.circleMarker(
    { lat: markerPosition[1], lng: markerPosition[0] },
    { opacity: 0, radius: 0, fill: false }
  ).bindTooltip(feature.properties.name, {
    permanent: true,
    direction: "center",
    className: "indoor-label",
  });

  floors[level].labels.addLayer(label);
  label.closeTooltip();
}

function setupGeoJsonFeatureOutdoor(feature) {
  if(feature.properties.type === "hpi-building") {
    addMarker({
      latlng: feature.properties.letter_coordinate.reverse(),
      divIcon: {
        html: feature.properties.letter,
        className: "building-icon"
      }
    });
  }
}

function getBuildingStyle(feature) {
  return {className: "building " + feature.properties.type};
}

function getRoomStyle() {
  return {className: "hpi-room"};
}

async function loadGeoJsonFile(filename, featureCallback, styleCallback, addToMap = false) {
  const file = await fetch(filename);
  const geojsonFeatureCollection = await file.json();
  // the geojson files contain points for certain properties eg. doors, however we have not implemented the visualization of those and filter them here
  const geojsonLayer = L.geoJSON(geojsonFeatureCollection, {
    onEachFeature: featureCallback,
    style: styleCallback,
    filter: (feature) => feature.geometry.type != "Point",
  });
  if(addToMap) geojsonLayer.addTo(map);
}

function recalculateTooltipVisibility() {
  const zoomLevel = map.getZoom();
  if (zoomLevel >= 20) {
    floors[currentFloor].labels.eachLayer((layer) => layer.openTooltip());
  } else {
    floors[currentFloor].labels.eachLayer((layer) => layer.closeTooltip());
  }

  if (zoomLevel <= 17) {
    floors[currentFloor].rooms.removeFrom(map);
  } else {
    floors[currentFloor].rooms.addTo(map);
  }
}
