<p id="notice"><%= notice %></p>

<h1 class="fw-light">Openingtimes</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('locations.openingtime.opens') %></th>
      <th><%= t('locations.openingtime.closes') %></th>
      <th><%= t(:day) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @openingtimes.each do |openingtime| %>
      <tr>
        <td><%= openingtime.opens %></td>
        <td><%= openingtime.closes %></td>
        <td><%= openingtime.day %></td>
        <td class="td-btn"><%= link_to t("show"), openingtime, class: "btn btn-secondary link-btn" %></td>
        <td class="td-btn"><%= link_to 'Edit', edit_openingtime_path(openingtime), class: "btn btn-secondary link-btn" %></td>
        <td class="td-btn"><%= link_to 'Destroy', openingtime, method: :delete, data: { confirm: t(:confirm) }, class: "btn btn-secondary link-btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if can? :create, Openingtime %>
  <%= link_to t('model.add_new', model: t('locations.openingtime.one')), new_openingtime_path, class: "btn btn-primary link-btn" %>
<% end %>
