<h1><%=  @room.name %></h1>

<h2><%=  t('date.month_names')[@month] %> <%=  @year %></h2>
<%= week_calendar(number_of_weeks: 1, events: @events) do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
          <div class="content" >
            <%=  event.start_hour_minute %>
            <%=  event.name %>
          </div>
    </div>
  <% end %> 
<% end %>