<p id="notice"><%= notice %></p>

<h1>Rooms</h1>


<div class="container">
  <div class="d-flex justify-content-end">
    <div class="col-3 header ">
      Name
    </div>
    <div class="col-3 ">
      Floor
    </div>
    <div class="col-3">
      Calendar
    </div>
    <div class="col-0">
      Show
    </div>
  </div>
  <div> Seminar Rooms</div>
   <% @rooms.each do |room| %>
    <div class="d-flex justify-content-end" >
        <% if room.room_type == "Seminarraum" %>
          <div class="col-3">
            <%= room.name %>
          </div>
          <div class="col-3 ">
          <%= room.floor %>
          </div>
          <div class="col-3">
            <%= link_to 'Calendar', calendar_path(id: room.id) %>
          </div>
          <div class="col-0">
            <%= link_to 'Show', room %>
          </div>
      
        <% end %>
      </div>
    <% end %>
    <div> Lecture Halls</div>
   <% @rooms.each do |room| %>
    <div class="d-flex justify-content-end">
        <% if room.room_type == "Hörsaal" %>
          <div class="col-3">
            <%= room.name %>
          </div>
          <div class="col-3 ">
          <%= room.floor %>
          </div>
          <div class="col-3">
            <%= link_to 'Calendar', calendar_path(id: room.id) %>
          </div>
          <div class="col-0">
            <%= link_to 'Show', room %>
          </div>
      
        <% end %>
      </div>
    <% end %>
    <div> Pool Rooms</div>
   <% @rooms.each do |room| %>
    <div class="d-flex justify-content-end">
        <% if room.room_type == "Poolraum" %>
          <div class="col-3">
            <%= room.name %>
          </div>
          <div class="col-3 ">
          <%= room.floor %>
          </div>
          <div class="col-3">
            <%= link_to 'Calendar', calendar_path(id: room.id) %>
          </div>
          <div class="col-0">
            <%= link_to 'Show', room %>
          </div>
      
        <% end %>
      </div>
    <% end %>
    <div> Conference Rooms</div>
   <% @rooms.each do |room| %>
    <div class="d-flex justify-content-end">
        <% if room.room_type == "Konfrenzraum" %>
          <div class="col-3">
            <%= room.name %>
          </div>
          <div class="col-3 ">
          <%= room.floor %>
          </div>
          <div class="col-3">
            <%= link_to 'Calendar', calendar_path(id: room.id) %>
          </div>
          <div class="col-0">
            <%= link_to 'Show', room %>
          </div>
      
        <% end %>
      </div>
    <% end %>
</div>



  


