<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table class="roomsList">
  <thead>
    <tr>
      <th id=roomName>Name</th>
      <th id=normalRow>Floor</th>
      <th id=normalRow>Room type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td id="Seminarraum"><b>Seminarräume:</b></td>
    <% @rooms.each do |room| %>
      <% if room.room_type == "Seminarraum" %>
      <tr>
        <td id=roomName><%= room.name %></td>
        <td id=normalRow><%= room.floor %></td>
        <td id=normalRow><%= room.room_type %></td>
        <td><%= link_to 'Show', room %></td>
      </tr>
      <% end %>
    <% end %>
    </tr>

    <tr>
      <td id="Hörsaal"><b>Hörsäle:</b></td>
    <% @rooms.each do |room| %>
      <% if room.room_type == "Hörsaal" %>
      <tr>
        <td id=roomName><%= room.name %></td>
        <td id=normalRow><%= room.floor %></td>
        <td id=normalRow><%= room.room_type %></td>
        <td><%= link_to 'Show', room %></td>
      </tr>
      <% end %>
    <% end %>
    </tr>

    <tr>
      <td id="Poolraum"><b>Poolräume:</b></td>
    <% @rooms.each do |room| %>
      <% if room.room_type == "Poolraum" %>
      <tr>
        <td id=roomName><%= room.name %></td>
        <td id=normalRow><%= room.floor %></td>
        <td id=normalRow><%= room.room_type %></td>
        <td><%= link_to 'Show', room %></td>
      </tr>
      <% end %>
    <% end %>
    </tr>
    <tr>
      <td id="Konferenzraum"><b>Konferenzräume:</b></td>
    <% @rooms.each do |room| %>
      <% if room.room_type == "Konferenzraum" %>
      <tr>
        <td id=roomName><%= room.name %></td>
        <td id=normalRow><%= room.floor %></td>
        <td id=normalRow><%= room.room_type %></td>
        <td><%= link_to 'Show', room %></td>
      </tr>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
