<div class="row">
    <div class="col-md-4">
        <h2 class="mb-3 fw-light"><%= @room.name %></h2>
    </div>
    <div class="col-md-8 align-self-center">
        <% if @room.free? %>
          <p class="occupancy free">free</p>
        <% else %>
          <p class="occupancy occupied">occupied</p>
        <% end %>
    </div>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong>Name:</strong>
  </label>
  <p class="form-control-static">
    <%= @room.name %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong>Floor:</strong>
  </label>
  <p class="form-control-static">
    <%= @room.floor %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong>Longitude:</strong>
  </label>
  <p class="form-control-static">
    <%= @room.location_longitude %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong>Latitude:</strong>
  </label>
  <p class="form-control-static">
    <%= @room.location_latitude %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong>Room type:</strong>
  </label>
  <p class="form-control-static">
    <%= Room.room_type_to_external_mapping[@room.room_type] %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    </label><strong><%= t('people') %>:</strong>
  </label>
  <ul>
    <p class="form-control-static">
      <% @room.people.each do | person | %>
        <li>
          <%= link_to person.name, person_path(person) %>
        </li>
      <% end %>
    </p>
  </ul>
</div>

<div class="td-btn"><%= link_to 'Calendar', room_calendar_path(@room, start_date: Time.zone.today.beginning_of_week.to_s), class: "btn btn-secondary link-btn" %></div>

<a class="btn btn-primary" href="/route?dest=<%= @room.name %>">
  <i class="fas fa-route"></i> Directions
</a>

<script id="_latlonginfo" type="application/json">
[<%= @room.building.location_latitude %>,<%= @room.building.location_longitude %>]
</script>
