<p id="notice"><%= notice %></p>

<h2 class="mb-3 fw-light"><%= @room.name %></h2>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type %>
</p>

<script id="_latlonginfo" type="application/json">
[<%= @room.building.location_latitude %>,<%= @room.building.location_longitude %>]
</script>
