<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %> |
<%= link_to 'Map', building_map_path(target: "#{@room.building.location_latitude},#{@room.building.location_longitude}")%>
