<table>
  <tr>
    <td width="100%">
      <p class="name">
        <%= @room.name %>
      </p>
    </td>
    <td>
      <% if @room.free? %>
        <p class="occupancy free">free</p>
      <% else %>
        <p class="occupancy occupied">occupied</p>
      <% end %>
    </td>
  </tr>
</table>

<p id="notice"><%= notice %></p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %> |
<%= link_to 'Map', building_map_path(target: "#{@room.building.location_latitude},#{@room.building.location_longitude}")%>
