<% if current_user %>
<button id="room-favourite" class="favourite <% if @room.favourited_by.include?(current_user) %> selected <% end %>" title="<%= t('favourite') %>">
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
</button>
<% end %>

<div class="row">
    <div class="col-md-4">
        <h2 class="mb-3 fw-light"> 
        <%= if I18n.locale == :de
              @room.name_de
            elsif I18n.locale == :en
              @room.name
            end%></h2>
    </div>
    <div class="col-md-8 align-self-center">
        <% if @room.free? %>
          <p class="occupancy free"><%= t("rooms.free") %></p>
        <% else %>
          <p class="occupancy occupied"><%= t("rooms.occupied") %></p>
        <% end %>
    </div>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= "#{t(:name)}:" %></strong>
  </label>
  <p class="form-control-static">
    <%= @room.name %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= t("rooms.floor")%>:</strong>
  </label>
  <p class="form-control-static">
    <%= @room.floor %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= t("buildings.longitude")%>:</strong>
  </label>
  <p class="form-control-static">
    <%= @room.location_longitude %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= t("buildings.latitude")%>:</strong>
  </label>
  <p class="form-control-static">
    <%= @room.location_latitude %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    <strong><%= t("rooms.type")%>:</strong>
  </label>
  <p class="form-control-static">
    <%= Room.room_type_to_external_mapping[@room.room_type] %>
  </p>
</div>

<div class="field mb-3">
  <label class="form-label">
    </label><strong><%= t('people.other') %>:</strong>
  </label>
  <ul>
    <p class="form-control-static">
      <% @room.people.each do | person | %>
        <li>
          <%= link_to person.name, person_path(person) %>
        </li>
      <% end %>
    </p>
  </ul>
</div>

<div class="td-btn"><%= link_to t('calendar'), room_calendar_path(@room, start_date: Time.zone.today.beginning_of_week.to_s), class: "btn btn-secondary link-btn" %></div>

<a class="btn btn-primary" href="/route?dest=<%= @room.name %>">
  <i class="fas fa-route"></i> <%= t("buildings.directions") %>
</a>

<script id="_latlonginfo" type="application/json">
[<%= @room.location_latitude %>,<%= @room.location_longitude %>]
</script>

<script id="_floorinfo" type="application/json">
<%= @room.floor %>
</script>

<script defer>
  $('#room-favourite').click(async function (e) {
    const csrfToken = document.querySelector('meta[name="csrf-token"]')?.getAttribute("content") ?? "";
    let becomesFavourite = !e.currentTarget.classList.contains("selected");

    const body = JSON.stringify({
      favourite: becomesFavourite
    });
    const response = await fetch(
      `/rooms/<%= @room.id %>/favourite`,
      {
        method: "PUT",
        body: body,
        headers: {
          "X-CSRF-TOKEN": csrfToken,
          "Content-Type": "application/json",
        },
      }
    );
    console.assert(response.status === 204); // HTTP "No content"

    if(becomesFavourite) {
      e.currentTarget.classList.add("selected")
    } else {
      e.currentTarget.classList.remove("selected")
    }

  })
</script>
