<p id="notice"><%= notice %></p>

<h1 class="fw-light">Locations</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Photo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.name %></td>
          <td><% if location.location_photo.attached? %>
            <img src="<%=(url_for(location.location_photo))%>" alt="<%= location.location_photo.filename %>" height="30"/>
          <% else %>
            <%= image_tag("default-location-photo.png", alt: "default-location-photo", height: "30") %>
          <% end %></td>
          <td class="td-btn"><%= link_to 'Show', location, class: "btn btn-secondary link-btn" %></td>
          <td class="td-btn"><% if can? :update, location %><td class="td-btn"><%= link_to 'Edit', edit_location_path(location), class: "btn btn-secondary link-btn" %><%end%></td>
          <td class="td-btn"><% if can? :destroy, location %><td class="td-btn"><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary link-btn" %><%end%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<% if can? :create, Location %>
  <%= link_to 'New Location', new_location_path, class: "btn btn-primary link-btn" %>
<% end %>
