<h1>Here are the location's details!</h1>
<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @location.details %>
</p>

<div class="edit-location-photo">
  <strong>Location photo:</strong>
  <div class='location-photo-wrapper'>
    <div class='location-photo-container'>
        <% if @location.location_photo.attached? %>
            <img src="<%=(url_for(@location.location_photo))%>" alt="<%= @location.location_photo.filename %>"/>
        <% else %>
            <img src="<%=(url_for('/assets/default-location-photo.png'))%>" alt="default-location-photo">
        <% end %>
    </div>
  </div>
</div>

<p>
  <strong>Latitude:</strong>
  <%= @location.location_latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.location_longitude %>
</p>

<%= map(
    center: {
        # HPI coordinates
        latlng: [@location.location_latitude, @location.location_longitude],
        zoom: 18,
    },
    polygons: Buildings.transform_leaflet_buildings(Buildings::UNIPOTSDAM_POLYONGS, Buildings::UNIPOTSDAM_STYLING)+
    (Buildings.transform_leaflet_buildings(Buildings::HPI_POLYGONS, Buildings::HPI_STYLING)),
    markers: Buildings.transform_leaflet_letters(Buildings::HPI_LETTERS))
%>

<p>
  <strong>Opening Times:</strong>
  <%= @location.openingtimes %>
</p>

<p>
  <strong>Opening Times:</strong>
  <% @location.openingtimes.each do |openingtime| %>
    <%= openingtimes.opens %> <br>
    <%= openingtimes.closes %> <br>
    <%= openingtimes.day %> <br>
    <% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
