<h1>Here are the location's details!</h1>

<div class="edit-location-photo">
  <strong>Location photo:</strong>
  <div class='location-photo-wrapper'>
    <div class='location-photo-container'>
        <% if @location.location_photo.attached? %>
            <img src="<%=(url_for(@location.location_photo))%>" alt="<%= @location.location_photo.filename %>"/>
        <% else %>
            <img src="<%=(url_for('/assets/default-location-photo.png'))%>" alt="default-location-photo">
        <% end %>
    </div>
  </div>
</div>

<p>
  <strong>Name</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Details</strong>
  <%= @location.details %>
</p>

<p>
  <strong>Photo</strong>
  <%= @location.location_photo %>
</p>

<p>
  <strong>Latitude</strong>
  <%= @location.location_latitude %>
</p>

<p>
  <strong>Longitude</strong>
  <%= @location.location_longitude %>
</p>

