<h2 class="mb-3 fw-light">
  <%= if I18n.locale == :de
        @location.name_de
      elsif I18n.locale == :en
        @location.name
      end%>
</h2>
<% if current_user %>
<button id="location-favourite" class="favourite <% if @location.favourited_by.include?(current_user) %> selected <% end %>" title="<%= t('favourite') %>">
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
</button>
<% end %>

<div class='edit-location-photo'>
  <div class='location-photo-wrapper'>
    <div class='location-photo-container'>
      <% if @location.location_photo.attached? %>
        <img src="<%=(url_for(@location.location_photo))%>" alt="<%= @location.location_photo.filename %>"/>
      <% else %>
        <%= image_tag "default-location-photo.png", alt: "default-location-photo"%>
      <% end %>
    </div>

<p>
  <strong><%=t(:details)%>:</strong>
    <%= if I18n.locale == :de
        @location.details_de
      elsif I18n.locale == :en
        @location.details
      end%>
</p>

<p>

  <strong><%= t('locations.opening_times.other') %></strong>
  <br>
  <% @location.openingtimes.sort_by{|openingtime| openingtime.day}.each do |openingtime| %>
    <%= openingtime.day_as_string %>:
    <%= openingtime.opens %>
    -
    <%= openingtime.closes %>
    <br>
  <% end %>
</p>

<a class="btn btn-primary" href="/route?dest=<%= @location.name %>">
  <i class="fas fa-route"></i> <%= t('buildings.directions') %>
</a>

<script id="_latlonginfo" type="application/json">
[<%= @location.location_latitude %>,<%= @location.location_longitude %>]
</script>

<script defer>
  $('#location-favourite').click(async function (e) {
    const csrfToken = document.querySelector('meta[name="csrf-token"]')?.getAttribute("content") ?? "";
    let becomesFavourite = !e.currentTarget.classList.contains("selected");

    const body = JSON.stringify({
      favourite: becomesFavourite
    });
    const response = await fetch(
      `/locations/<%= @location.id %>/favourite`,
      {
        method: "PUT",
        body: body,
        headers: {
          "X-CSRF-TOKEN": csrfToken,
          "Content-Type": "application/json",
        },
      }
    );
    console.assert(response.status === 204); // HTTP "No content"

    if(becomesFavourite) {
      e.currentTarget.classList.add("selected")
    } else {
      e.currentTarget.classList.remove("selected")
    }

  })
</script>
