<h2 class="mb-3 fw-light">
  <%= if I18n.locale == :de
        @location.name_de
      elsif I18n.locale == :en
        @location.name
      end%>
</h2>

<div class='edit-location-photo'>
  <div class='location-photo-wrapper'>
    <div class='location-photo-container'>
      <% if @location.location_photo.attached? %>
        <img src="<%=(url_for(@location.location_photo))%>" alt="<%= @location.location_photo.filename %>"/>
      <% else %>
        <%= image_tag "default-location-photo.png", alt: "default-location-photo"%>
      <% end %>
    </div>

<p>
  <strong><%=t("details")%>:</strong>
    <%= if I18n.locale == :de
        @location.details_de
      elsif I18n.locale == :en
        @location.details
      end%>
</p>

<p>
  <strong><%=t("openingtimes")%>:</strong>
  <br>
  <% @location.openingtimes.sort_by{|openingtime| openingtime.day}.each do |openingtime| %>
    <%= openingtime.day_as_string %>:
    <%= openingtime.opens %>
    -
    <%= openingtime.closes %>
    <br>
  <% end %>
</p>

<a class="btn btn-primary" href="/route?dest=<%= @location.name %>">
  <i class="fas fa-route"></i> <%= t("directions")%>
</a>

<script id="_latlonginfo" type="application/json">
[<%= @location.location_latitude %>,<%= @location.location_longitude %>]
</script>
