<div class='topbar-custom'>
    <%# devise helper: https://github.com/heartcombo/devise#controller-filters-and-helpers %>
    <span class="navbar-brand"><i class="fas fa-compass"></i><span>HPI Navigator</span></span>
    <div class='user-area'>
        <% if user_signed_in? %>
                <%= link_to edit_user_registration_path do %>
                    <div class='profile-picture-container'>
                        <% if current_user.person.profile_picture.attached? %>
                            <img src="<%=(url_for(current_user.person.profile_picture))%>" alt="<%= current_user.person.profile_picture.filename %>"/>
                        <% else %>
                            <img src="<%=(url_for('/assets/default-profile-picture.png'))%>" alt="default-profile-picture">
                        <% end %>
                    </div>
                <% end %>
        <% else %>
            <%= link_to login_path, class: 'btn' do %>
                <span>Login</span><i class="fas fa-sign-in-alt"></i>
            <% end %>
        <% end %> <%# user_signed_in?%>
    </div>
</div>
