<div class="topbar-with-settings-area">
  <div class='topbar-custom'>
      <%# devise helper: https://github.com/heartcombo/devise#controller-filters-and-helpers %>
      <span class="navbar-brand"><i class="fas fa-compass"></i><span>HPI Navigator</span></span>
      <div class='user-area'>
          <% if user_signed_in? %>
                  <%= link_to edit_user_registration_path do %>
                      <div class='profile-picture-container'>
                          <% if current_user.person.profile_picture.attached? %>
                              <img src="<%=(url_for(current_user.person.profile_picture))%>" alt="<%= current_user.person.profile_picture.filename %>"/>
                          <% else %>
                              <%= image_tag "default-profile-picture.png", alt: "default-profile-picture"%>
                          <% end %>
                      </div>
                  <% end %>
          <% else %>
              <%= link_to login_path, class: 'btn' do %>
                  <span>Login</span><i class="fas fa-sign-in-alt"></i>
              <% end %>
          <% end %> <%# user_signed_in?%>
      </div>
      <%= render 'layouts/languageSwitch' %>
  </div>
  <div class="settings-area">
    <div class="d-flex flex-column ms-2 me-2">
      <span class="m-1 d-flex align-items-center"><b>Position</b></span>
      <div class="m-1">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="showPositionSwitch" autocomplete="off"/>
          <label class="form-check-label" for="showPositionSwitch"><i class="fas fa-map-marker-alt"></i></label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="sharePositionSwitch" autocomplete="off" disabled />
          <label class="form-check-label" for="sharePositionSwitch"><i class="fas fa-share-alt"></i></label>
        </div>
      </div>
    </div>
  </div>
</div>
