<div class='topbar-custom'>
    <%# devise helper: https://github.com/heartcombo/devise#controller-filters-and-helpers %>
    <div class="settings-area">
      <div class="form-check form-switch ms-2 me-2">
        <input class="form-check-input" type="checkbox" role="switch" id="trackingSwitch" />
        <label class="form-check-label" for="trackingSwitch"> Position tracking </label>
      </div>
    </div>
    <span class="navbar-brand"><i class="fas fa-compass"></i><span>HPI Navigator</span></span>
    <div class='user-area'>
        <% if user_signed_in? %>
                <%= link_to edit_user_registration_path do %>
                    <div class='profile-picture-container'>
                        <% if current_user.person.profile_picture.attached? %>
                            <img src="<%=(url_for(current_user.person.profile_picture))%>" alt="<%= current_user.person.profile_picture.filename %>"/>
                        <% else %>
                            <%= image_tag "default-profile-picture.png", alt: "default-profile-picture"%>
                        <% end %>
                    </div>
                <% end %>
        <% else %>
            <%= link_to login_path, class: 'btn' do %>
                <span>Login</span><i class="fas fa-sign-in-alt"></i>
            <% end %>
        <% end %> <%# user_signed_in?%>
    </div>
    <%= render 'layouts/languageSwitch' %>
</div>
