<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if user_signed_in? %>
      <meta name="user_signed_in" content="">
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations", skip_pipeline: true %>
    <script>
         I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>
    <%= render 'layouts/alerts' %>
    <%# https://getbootstrap.com/docs/5.0/layout/containers/ %>
    <%# https://getbootstrap.com/docs/5.0/utilities/spacing/ %>
    <div class="container mt-2" id="app-outlet-outer"> <%# mt-2 == margin-top: 2*spacer %>
      <%= yield %>
    </div>
  </body>
</html>

